{% extends 'base.html' %}
{% block content %}

    <h2>students</h2>
    <div class="d-flex flex-wrap gap-1">
        {% for student in students %}
            <div class="card" style="width: 13rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ student.name }} {{ student.family }}</h5>
                    <p class="card-text">{{ student.name }} <br> {{ student.created_at }}</p>
                    <a href="/students/{{ student.id }}" class="btn btn-primary">Detail</a>
                </div>
            </div>
        {% endfor %}
    </div>
    

    <h2>users</h2>
    <div class="d-flex flex-wrap gap-1">
        {% for user in users %}
            <div class="card" style="width: 13rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
                </div>
            </div>
        {% endfor %}
    </div>
    
{% endblock content %}
