{% extends 'base.html' %}

{% block content %}
<form class="account-form" action="." method="post">
  {% csrf_token %}

  {% if form.errors %}
  <p>Please correct the following errors:</p>
  {% for field in form %}
  {% if field.errors %}
  <div class="alert alert-primary" role="alert">
    {{ field.label }}: {{ field.errors|striptags }}
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}

  <label>{{ form.name.label }}<span class="text-muted small">
      (Required)</span></label>
  {{ form.name }}

  <label>{{ form.family.label }}<span class="text-muted small">
      (Required)</span></label>
  {{ form.family }}

  <label>{{ form.parent.label }}<span class="text-muted small">
      (Required)</span></label>
  {{ form.parent }}

  <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw500 w-100" type="submit">Register</button>
  

</form>
{% endblock content %}